<!-- Margaret Flemings and Maggie Jennings -->
<!-- Template for the quiz page, currently loads all questions from a deck on the same page-->
<!-- Counting from: https://stackoverflow.com/questions/7537439/how-to-increment-a-variable-on-a-for-loop-in-jinja-template -->
{% extends 'codemode.html' %}
  {% block content %}

  <form i="test-form" method="POST">
    {% set count = [0] %}
    {% for question in questions %}
  <div class="question{{ count }}">
	 <p data-answer="{{question['answer']}}" data-question="q{{ count }}">{{question['questionText']}}</p>
    <div id="questionResult">
        {% if results[count[0]] %}
        <p class="bg-success text-white">You answered: {{ form[count[0]] }}
          <br>
          Correct!</p>
        {% else %}
        <p class="bg-danger text-white">You answered: {{ form[count[0]] }}
          <br>
          Wrong!</p>
        {% endif %}
        <p>Correct answer: {{question['answer']}}</p>
      </div>
      <div id="explanation">{{question['explanation']}}</div>
    </div>
      {% if count.append(count.pop() + 1) %}
      {% endif %}
      {% endfor %}
      <input type="submit" name="submit"></input>
  </form>
      <div id="totalResult">You got: {{results[count[0]]}} out of {{ count[0] }}</div>

 {% endblock %}
