<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="Scott D. Anderson"> <!-- Adapted by Margaret Flemings -->
    <title>{{ page_title }}</title>
    <!-- <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}"> -->
    
    {% block head_stuff %} {% endblock %}
</head>
<body style="color:green;">

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div id="messages">
        {% for msg in messages %}
            <p>{{msg}}</p>
        {% endfor %}
        </div>
    {% endif %}
{% endwith %}
            
{% block main_content %}
<h1>Welcome!</h1>
{% endblock %}


<script src="https://code.jquery.com/jquery.js"></script>
{% block jquery_scripts %}
<script>
console.log('jQuery loaded');
</script>
<script type="text/javascript">
    
        function showJoin() {
             var x = document.getElementById("joinform");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
</script>
{% endblock %}

</body>
</html>
