<!-- Maggie Jennings and Margaret Flemings
CodeMode
Draft -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CodeMode</title>
  </head>
  <body>
    <h1>CodeMode</h1>
    <ul>
      <li><a href='/'>Home</a></li>
      <li><a href='/select/'>Select a deck</a></li>
      <li><a href='/make/'>Make a deck</a></li>
    </ul>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
           <p>{{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}
      <h1>{{title}}</h1>
    {% endblock %}
  </body>
</html>
