<!-- Maggie Jennings and Margaret Flemings
CodeMode -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Inserted for the bootstrap   -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>CodeMode</title>
  </head>
  <body>

<!--  Adds navbar that shows up on all pages where codemode.html is extended
(except for the login page)   -->
  <nav style="background-color:lightblue;" class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">CodeMode</a>
      </div>
      <ul class="nav navbar-nav">
	<!-- if not a home button, maybe a profile button eventually -->
        <li><a href='/select/'>Select A Quiz</a></li>
	<li><a href='/insertQuestion/'>Make New Question</a></li>
        <li><a href='/insertDeck/'>Make New Deck</a></li> 
	<li><b style="color:grey;padding:15px;line-height:20px; display:block;position:relative;">Welcome back, {{username}}!</b></li>
	<li><b style="color:grey;padding:15px;line-height:20px; display:block;position:relative;">Points: {{points}}</b></li>
	<li><a href='/logout/' id="logoutID">Logout</a></li>
		
      </ul>
    </div>
  </nav>
  
    {% block main_content %}
    {% endblock %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
           <p>{{ message }}
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% block content %}
      <h1>{{title}}</h1>
    {% endblock %}

{% block jquery_scripts %}
<script>
// 	console.log("start carousel");
	$("div .item").first().addClass("active").nextAll().removeClass("active");
</script>
{% endblock %}

  </body>
</html>
