{% extends "base.html" %}

{% block main_content %}

  <nav class="navbar navbar-default" style="background-color:lightblue;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Welcome to CodeMode!</a>
  </nav>

<!--
<h1>Welcome to CodeMode</h1> -->

<form id="loginform" action="{{url_for('login')}}" method="post" style="padding-left:10%; padding-right:10%;">
    <h2>Login</h2>
    <p><label>Username: <input type="text" name="username" required pattern="^\w+$"></label></p>
    <p><label>Password: <input type="password" name="password" required></label></p>
    <p><button type="submit">Submit</button></p>
</form>

<p style="padding-left:10%; padding-right:10%;">Don't already have an account?</p>
<button id="join" style="margin-left:10%; margin-right:10%;">Join Now</button>


<form id="joinform" action="{{url_for('join')}}" method="post" style="padding-left:10%; padding-right:10%;">
    <h2>Join</h2>
    <p><label><input type="text" name="username" required pattern="^\w+$"> Username</label></p>
    <p><label><input type="password" name="password1" required> Password </label></p>
    <p><label><input type="password" name="password2" required> Password again </label></p>
    <p><button type="submit">Submit</button></p>
</form>


{% endblock %}


{% block jquery_scripts %}
<script>
$("button").on('submit', function (event) {
     var pw1 = $(this).find('[name=password1]').val();
     var pw2 = $(this).find('[name=password2]').val();
     // should also check for length and common words etc
     if( pw1 != pw2 ) {
         // something more sophisticated than alert would be nice
         alert("passwords don't match");
     }
});
$("#joinform").hide();
$("#join").click(function(){
    $("#joinform").toggle(1000);
    console.log('toggle');
});
</script>
{% endblock %}
