<!-- Maggie Jennings and Mojia Shen
CodeMode
Draft -->

{% extends 'codemode.html' %}
  {% block content %}
      <form method= "POST" action="{{script}}">
	<!-- edit all of this -->
  <p>Please give the following info for your question</p>
    <p><label for="questionText">Question Text</label>
      <input type=text name='questionText' value=""></input></p>
    <p><label for="answer">Answer</label>
      <input type=text name='answer' value=""></input></p>
    <p><label for="qtype">Answer</label>
        <select name='qtype'>
          <option value="multi">Multiple Choice</option>
          <!-- <option value="fillblank">Fill in the Blank</option>
          <option value="truefalse">True or False</option> -->
        </select></p>
    <p><label for="wrong1">Wrong Option 1:</label>
        <input type=text name='wrong1' value=""></input></p>
    <p><label for="wrong2">Wrong Option 2:</label>
        <input type=text name='wrong2' value=""></input></p>
    <p><label for="wrong3">Wrong Option 3:</label>
        <input type=text name='wrong3' value=""></input></p>
    <p><label for="explanation">Explanation</label>
      <input type=text name='explanation' value=""></input></p>
    <p><label for="pointVal">Point value</label>
      <input type=number name='pointVal' value=""></input></p>
    <p><label for="deckNum">Add to deck:</label>
      <input type=text name='deckNum' value=""></input></p>
    <br>
    <input type="submit" value='submit' name='submit'></input>
</form>
  {% endblock %}
