<!-- Margaret Flemings and Maggie Jennings -->
<!-- Template for the quiz page, currently loads all questions from a deck on the same page-->
<!-- Counting idea from: https://stackoverflow.com/questions/7537439/how-to-increment-a-variable-on-a-for-loop-in-jinja-template -->
{% extends 'codemode.html' %}
  {% block content %}
  <form id="test-form" method='post'>
    <!-- count number of questions so we can loop through them later -->
    {% set count = [0] %}
    {% for question in questions %}
  <div class="question{{ count }}">
	 <p data-answer="{{question['answer']}}" data-question="q{{ count }}">{{count[0] + 1}}. {{question['questionText']}}</p>
	    {% if question['qtype'] == 'multi' %}
      <!-- for each multiple choice question show options -->
         <input type="radio" name="q{{ count }}" value="{{question['answer']}}" required>{{question['answer']}}<br>
	       <input type="radio" name="q{{ count }}" value="{{question['wrong1']}}" required>{{question['wrong1']}}<br>
 	       <input type="radio" name="q{{ count }}" value="{{question['wrong2']}}" required>{{question['wrong2']}}<br>
 	       <input type="radio" name="q{{ count }}" value="{{question['wrong3']}}" required>{{question['wrong3']}}<br>
	    {% else %}
		    {% if question['qtype'] == 'truefalse' %}
        <!-- true or false questions -->
				 <input type="radio" name="q{{ count }}" value="true" required>True<br>
 	       <input type="radio" name="q{{ count }}" value="False" required>False<br>
        {% else %}
            <!-- question is fill in blank -->
            <input type="text" name="q{{ count }}" required>
        {% endif%}
      {% endif %}
      <br>
      <div id="questionResult"></div>
      <div id="explanation"></div>
    </div>

    <div class="questionResultTemplate" style="display:none;">
      <p><span class="questionText"></span></p>
           <p class="bg-success text-white">You answered: <span class="yourAnswer"></span>
             <br><span class="message"></span><br>
           <p>Correct answer: <span class="correctAnswer"></span></p><br>
         <span class="explanation"></div>
    </div>

      <!-- increment counter -->
      {% if count.append(count.pop() + 1) %}
      {% endif %}
      {% endfor %}
      <button id="gradebutton" class="btn btn-primary" type="button" name="submit">Grade Your Quiz!</button>
      <div id="totalResult"></div>
      </form>
      <script>
        $("#gradebutton").click(function () {
          console.log("button clicked!");
          $.post("",
          $("form").serialize(),
          function(){
            var form = $("form").serialize();
            console.log(form);
          });
          alert("done");
        });
        function gradeQuiz(){
          for( i = 0; i < answers.length; i++ ) {
        }
        function displayAnswers(formRes) {
          var i;
          // this element is "off-stage" for now
    var people = $('<div>').addClass('people');
    for( i = 0; i < answers.length; i++ ) {
        var item = answers[i];
        var clone = $('#questionResultTemplate > .person').clone();
        clone.find('.yourAnswer').text(item.name);
        clone.find('.message').text(item.house);
        clone.find('.correctAnswer').text(item.pet);
        clone.find('.explanation').text(item.address);
        people.append(clone);
    }
    // finally add everything to the document all at once
    $('#person-container').append(people);
      </script>
 {% endblock %}
