<!-- Maggie Jennings and Margaret Flemings
CodeMode
Draft -->
{% extends 'codemode.html' %}
  {% block content %}
    <form method= "POST" action="{{script}}">
      <p>Decks you can study</p>
        <select name="decks">
            {% for deck in decks %}
		<!-- is this a comment?? change from movies -->
              <option value = {{deck['deck_num']}}>{{deck['deck_num']}}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" name ='submit'></input>
    </form>
  {% endblock %}
