<!-- Maggie Jennings and Margaret Flemings
CodeMode
Draft
Lists all current, unique deck options -->
{% extends 'codemode.html' %}
  {% block greeting %}
 {% endblock %}
{% extends 'codemode.html' %}
  {% block content %}
    <form method= "POST" action="{{script}}">
      <p>Decks you can study</p>
        <select name="decks">
            {% for deck in decks %}
              <option value = {{deck}}>{{deck}}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" name ='submit' value='submit'></input>
    </form>
  {% endblock %}
