<!-- Maggie Jennings and Margaret Flemings
CodeMode
Code for page that updates decks
-->
{% extends 'codemode.html' %}
  {% block content %}
      <form enctype="multipart/form-data" method= "POST" action="{{script}}" style="padding-left:10%; padding-right:10%;">
        <table class="table">
          <tbody>
            <tr id="deckAdd">
              <th scope="row"><label for="deckName">Create new deck:</label></th>
              <td><input type=text name="deckName" value="{{deckInfo['deck_name']}}" required></input></td>
            </tr>
            <tr>
              <th scope="row"><label for="imagefile">Upload new image: </label></th>
              <td>
                <p>Current image is: {{deckInfo['image_path']}} <img src="{{deckInfo['image_path']}}"></p>
                <br>
                <input type="file" name="imagefile" size="100"></input>
              </td>
            </tr>
          </tbody>
        </table>
        <input type="submit" value='submit' name='submit'></input>
      </form>
  {% endblock %}
